*{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.dashIcon{
    width: 100px;
    background-color: blue;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.dashIconDown{
    width: 100px;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.paper{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.orders{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.papers{
    width: 550px;
    height: 500px;
}

.company{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

hr{
    color: #f0f0f0;
}

.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.users{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.inputs{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-right: 80px;
}

.button{
    display: flex;
    justify-content: center;
}

.paperInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#dark .papers-b{
    background-color: black;
    color: #fff;
}

.styled-table thead tr {
    background-color:  #f3f3f3;
    font-size: 13px;
    color: #141413;
    text-align: left;
    border-radius: 8px;
}

#dark .styled-table thead tr {
    background-color: #141413;
    color: #f0f0f0;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: #1976d2;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1976d2;
}

#dark .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #f0f0f0;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color:  #1976d2;
}

.styled-table tbody tr{
    color: black;
    font-weight: bold;
}

#dark .styled-table tbody tr {
    color: #f3f3f3;
    font-weight: bold;
}
.add-user{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}

.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#dark{
    background-color:  #141413;
    color: #fff;
}
#dark .lists {
    background-color: black;
    color: #fff;
}
#dark .papers {
    background-color: black;
    color: #fff;
}
#dark .tableContainer {
    background-color: black;
}
#dark .tablecell {
    color: #fff;
}
#dark .card{
    background-color: black;
    color: #fff;
}

#dark .typ {
    color: #fff;
}

#dark .xaxis {
    background-color: black;
    color: #fff;
}

#light{
    background-color: #fff;
    color: black;
}

.switch{
    margin-top: 15px;
}

.rechart{
    margin-top: 50px;
}

.modalContainer {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.paperModal{  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

#dark .paperModal{
    background-color: black;
    color: #fff;
}

.button{
    display: flex;
    justify-content: space-around;
}

.deleteButton{
    border: none;
    padding: 10px;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;

}

.cancelButton{
    border: none;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

#dark .appBar {
    background-color: black;
    color: #fff;
}

#dark .paperInput {
    background-color: black;
}

.ul-search{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
}

.paper-search{
    display: flex;
    justify-content: space-around;
    margin-left: 170px;
}

.li-search{
    font-size: 18px;
}

#dark .paper-search{
    background-color: black;
}

#dark a{
    color: #fff;
}

.notifs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
table{
    width: 100%;
}
.papers-b{
    width: 600px;
    height: 300px;
}

#dark .notif-card{
    background-color: black;
    color: #fff;
}
#dark .styled-table tbody tr.active-row {
    color: #fff;
}
#dark .styled-table tbody tr:nth-of-type(even) {
    background-color: black;
    color: #f0f0f0;
}
.delete-button{
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 6px;
    background-color: red;
    cursor: pointer;
}

@media (max-width:720px) {
    
    .papers{
        width: 370px;
        height: 400px;
        margin-top: 20px;
    }
    .papers-b{
        margin-top: 20px;
        width: 370px;
    }
    .inputs{
        width: 250px;
        margin-left: 52px;
    }
}